[user]
	name = Gabriel Prates
	email = gabsprates@gmail.com

[core]
	editor = vim
	pager = less -F -X

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
